body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #f5c242;
    font-size: 18px;
}
h1{
    background-color: black;
    color: white;
    text-align: center;
}
#content{
    background-color: white;
    text-align: center;
}